.idea/
target/
*.iml
/temp*
npm-debug.log
/src/main/resources/static/
/src/main/dev/template/
.flattened-pom.xml

.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
